#<font color = 'gold'> Objetivo da utilização do Google Colab:</font>

A equipe viu a necessidade de aglomerar os dados de conexões do linkedin de todos os Participantes em um só DataSet para criar uma visualização no Power BI que demonstre da melhor forma esses dados.

<font color = 'gold'>Para alcançar esse objetivo foi necessário:</font>

1. Importar os dados de conexões do Linkedin de cada integrante;
2. Criar uma nova coluna **"Owner"** em cada tabela que guardasse a informação de quem era aquelas conexões;
3. Fazer a concatenação (Junção) de todas as tabelas já altaeradas com o nome de cada integrante.
4. Exportar o arquivo concatenado para uma unidade local e assim utilizá-lo para criar uma visualizção am alguma ferramenta adequada, no nosso caso, o Power BI

In [ ]:
import pandas as pd
import numpy as np

<Font color = 'gold'>Iportação de dados do linkedIn dos participantes do squad: </font>

In [ ]:
linkedinMatheus = pd.read_csv('Dados_M5 - LinkedIn_Matheus.csv')
#----------------------------------------------------------------------
linkedinCarol = pd.read_csv('Dados_M5 - Linkedin_Carol.csv')
#----------------------------------------------------------------------
linkedinCamilla = pd.read_csv('Dados_M5 - Linkedin_Camilla.csv')
#----------------------------------------------------------------------
linkedinElizangela = pd.read_csv('Dados_M5 - Linkedin_Elizangela.csv')

<font color = 'gold'> Criando uma nova coluna que guarda o nome do proprietário de cada tabela:

In [ ]:
linkedinMatheus['Owner'] = ['Matheus' for linha in linkedinMatheus['Company']]
#---------------------------------------------------------------------------------------
linkedinCarol['Owner'] = ['Carol' for linha in linkedinCarol['Company']]
#---------------------------------------------------------------------------------------
linkedinCamilla['Owner'] = ['Camilla' for linha in linkedinCamilla['Company']]
#---------------------------------------------------------------------------------------
linkedinElizangela['Owner'] = ['Elizangela' for linha in linkedinElizangela['Company']]

In [ ]:
linkedinCamilla.head()

,First Name,Last Name,Company,Position,Connected On,Owner
0,Yuri,Beltrão Sascho,CADS Digital,Analista de sistema,05 nov. 2022,Camilla
1,João,Victor,BTG Pactual,Estagiário de verão,05 nov. 2022,Camilla
2,Juan Antonio,Romero Aparicio,RPV Recursos Punto de Venta.,Coordinador,05 nov. 2022,Camilla
3,Thyago,Cabral,Stefanini Group,Desenvolvedor Mobile Pleno | Detran DF,04 nov. 2022,Camilla
4,Heluan,Santos,Hotspotty,Mobile Developer,04 nov. 2022,Camilla

In [ ]:
linkedinCarol.head()

,First Name,Last Name,Company,Position,Connected On,Owner
0,Ana,Guimarães,Resilia Educação,Assistente de Sucesso do Estudante [Engajamento],10/28/2022,Carol
1,Silvaneia N,Fernandes,Claro Brasil,Talent Acquisition | Tech Recruiter,10/21/2022,Carol
2,Emanoelle,Rodrigues,GLOBAL HITSS,Especialista em Recursos Humanos,10/21/2022,Carol
3,Gabriela,Antunes,iMusica,Analista de BI,9/16/2022,Carol
4,Rhayza,Pinto,IBM,Early Associate,9/16/2022,Carol

In [ ]:
linkedinMatheus.head()

,First Name,Last Name,Company,Position,Connected On,Owner
0,Denis Bruno,Morais Neves,Henry Schein,Analista de dados,04 nov. 2022,Matheus
1,Danillo,Cordeiro,Secretaria de Estado da Fazenda de Alagoas - S...,Tax Inspector,04 nov. 2022,Matheus
2,Nivea,Fernandes,FEC - Fundação Euclides da Cunha,Auxiliar operacional,04 nov. 2022,Matheus
3,Alfredo Junior,Albieri,Comunidade DS,Cientista de dados,03 nov. 2022,Matheus
4,Elisangela,Bernardo Alves,CVC Viagens,Agente de viagens,02 nov. 2022,Matheus

In [ ]:
linkedinElizangela.head()

,First Name,Last Name,Company,Position,Connected On,Owner
0,Omojobi,Lucas,MY HOUSE,Autônomo,04 nov. 2022,Elizangela
1,Leonardo,Duarte,Meta,Assistente de BPO (Pleno),04 nov. 2022,Elizangela
2,William dos Reis,Guimarães,Santa Casa de Misericórdia de Francisco Morato...,Analista de suporte júnior,04 nov. 2022,Elizangela
3,Matheus,Depoli,NaN,Consultor Estatístico,04 nov. 2022,Elizangela
4,Cyro,Mendes de Moraes Neto,The MonkeyNauts,Gerente de projetos e soluções,04 nov. 2022,Elizangela

<font color = 'gold'> Concatenando todas as tabelas:</font>

In [ ]:
tabelasConcatenadas = pd.concat([linkedinMatheus,linkedinCarol,linkedinCamilla,linkedinElizangela])

In [ ]:
tabelasConcatenadas.head()

,First Name,Last Name,Company,Position,Connected On,Owner
0,Denis Bruno,Morais Neves,Henry Schein,Analista de dados,04 nov. 2022,Matheus
1,Danillo,Cordeiro,Secretaria de Estado da Fazenda de Alagoas - S...,Tax Inspector,04 nov. 2022,Matheus
2,Nivea,Fernandes,FEC - Fundação Euclides da Cunha,Auxiliar operacional,04 nov. 2022,Matheus
3,Alfredo Junior,Albieri,Comunidade DS,Cientista de dados,03 nov. 2022,Matheus
4,Elisangela,Bernardo Alves,CVC Viagens,Agente de viagens,02 nov. 2022,Matheus

<font color = 'gold'> Importação do método "Files" do google colab para que faça o download da tabela concatenada que foi demonstrada acima:</font>

In [ ]:
from google.colab import files

tabelasConcatenadas.to_csv('Conexoes_Squad.csv')

files.download('Conexoes_Squad.csv')